# RewriteEngine On

# # Redirect if 'op=' is present without 'index.php'
# RewriteCond %{QUERY_STRING} op= [NC]
# RewriteCond %{REQUEST_URI} !index\.php [NC]
# RewriteRule ^(.*)$ /index.php?$1 [L,R=301]

# # Remove index.php from URL (if not redirected for 'op=')
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php [NC]
# RewriteCond %{QUERY_STRING} !op= [NC]
# RewriteRule ^index\.php(.*)$ /$1 [R=301,L]

# # Internally rewrite requests to index.php
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php/$1 [L]
