/* 
green #92B19F
gold #D09632
dark green #13472E */

.centerh{
  text-align: center;
}

.centerp{
  text-align: center;
}
.centerh1{
  text-align: center;
}

.centerp1{
  text-align: center;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  padding: 10px;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(
    0deg,
    #09131d 0%,
    #0d1b2a 100%
  );
  /* background: #0d1b2a; */
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #1b263b;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #1b263b;
  margin-top: 20px;
  flex-shrink: 0;
}


.header h1 {
  font-size: 50px;
}

.downarrow{
  cursor: pointer;
  top: 150px;
  width: 50px;
  height: 50px;
  padding: 20px;
  position: relative;
  transition: top 1s;
  text-decoration: none;
  color: white;
}

.downarrow:hover{
  top: 140px;
}

/* Style the top navigation bar */
.topnav {
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a,
.dropdown-content {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-content li {
  clear: both;
  width: 100%;
}

.dropdown-content { 
  display: none;
  position: absolute;
  top: 100%; 
  left: 40px;
}

#mijnwerkbutton:hover .dropdown-content {
  display: block;
}

li a:hover,
.dropdown-content a:hover {
  background-color: white;
  color: black;
}

/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  /* background-color: #A8B68D; */
  padding-left: 20px;
}

.row {
  flex: 1;

}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn1 {
  flex: 3;
  /* Grow to fill available space */
}

/* Right column */
.rightcolumn1 {
  flex: 1;
  /* Don't grow, maintain original width */
  /* background-color: #A8B68D; */
  padding-left: 20px;
}


.row1 {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-container1 {
  display: flex;
  flex-wrap: wrap;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
}

.fakeimg1 {
  width: 300px;
  height: 200px;
}

.rightcolumn2 {
  flex: 1;
  width: 100%;
}

.leftcolumn2 {
  flex: 5;
  /* Grow to fill available space */
  width: max-content;
}

/* Add a card effect for articles */
.card {
  background-color: #778da94d;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.rightcard {
  background-color: #778da94d;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.homehomecard {
  flex: 1;
  text-align: center;
  background-color: #778da94d;
  padding: 100px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.homecontainer{
  min-height: 65vh;
  display: flex;
}

.homecard {
  background-color: #778da938;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.nestedcard {
  background-color: #1b263b;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: solid #CCBBB8;
}

.nestedinnestedcard {
  background-color: #778da9;
  color: white;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: solid transparent;
}

.tablereadcard{
  background-color: #778da938;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
}

.link {
  background-color: #333;
  width: 100%;
  text-decoration: none;
  color: #DAA520;
}

/* Style the topnav links */
.link a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

/* Change color on hover */
.link a:hover {
  background-color: #ddd;
  color: black;
  padding: 17px;
  border: solid #DAA520;
}


input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #333;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 17px;
}

input[type=submit]:hover {
  background-color: #ddd;
  color: black;
  padding: 16px;
  border: solid #DAA520;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.emailbutton {
  background-color: #333;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 17px;
}

.emailbutton:hover {
  background-color: #ddd;
  color: black;
  padding: 16px;
  border: solid #DAA520;
}

.emailbutton:focus {
  background-color: #DAA520;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 17px;
}

.githublinks {
  background-color: #E9DCC7;
  padding: 20px;
  margin-top: 20px;
  position: fixed;
}


table {
  border-collapse: collapse;
  width: 100%;
  color: black;
  border: solid #1b263b;
  border-radius: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border: solid #1b263b;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #1b263b;
  color: white;
}

table a{
  color: black;
  text-decoration: none;
}

button{
  background-color: #1b263b; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}


#fabars{
 display: none;
}
.mobilenav #mobilelinks {
  display: none;
}

section {
}

section:nth-of-type(2n) {
}

section:last-of-type {
  height: 100vh;
}

.active {
  color: #778DA9; 
  border-bottom: #778DA9 solid 2px;

}


.darklighttoggle{
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}


@media screen and (max-width: 620px) {
  .topnav{
    display: none;
  }
  
  .mobilenav {
    overflow: hidden;
    background-color: #333;
    position: sticky; 
    top: 0;
    z-index: 2;
  }
  
  .mobilenav #mobilelinks {
    display: flex;
    justify-content: center;
  }

  .mobilenav #mobilelinks a{
    margin: 2px;
  }

  .mobilenav #mobilelinks2 {
    background-color: #555;
    display: none;
  }

  .mobilenav #mobilelinks2 a{
    background-color:#646363;
    margin: 5px;
  }

  .mobilenav a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: calc(15px + (100vw - 700px) * (15 - 30) / (700 -  1000));
    text-decoration: none;
  }

  #fabars{
    display: block;
   }

   #fabars2{
    position: relative;
   }

  .leftcolumn{
    width: 100%;
  }
  .rightcolumn{
    display: none;
  }

  .leftcolumn1{
    width: 100%;
  }
  .rightcolumn1{
    display: none;
  }
  img{
    display: none;
  }
  .homehomecard{
    padding: 0;
  }
}
