/* 
green #92B19F
gold #D09632
dark green #13472E
*/

.centerh {
  color: black;
  text-align: center;
}

.centerh1{
  color: white;
  text-align: center;
}

.centerp {
  color: black;
  text-align: center;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  padding: 10px;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  color: #333; /* Text color in light mode */
  background-image: -webkit-linear-gradient(hsla(240,75%,75%,.6), hsla(300,75%,75%,.2));
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #333333 ; /* Header and footer background color */
  color: white;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #333333 ; /* Header and footer background color */
  margin-top: 20px;
  flex-shrink: 0;
  color: white;
}

.header h1 {
  font-size: 50px;
}

.downarrow {
  cursor: pointer;
  top: 150px;
  width: 50px;
  height: 50px;
  padding: 20px;
  position: relative;
  transition: top 1s;
  text-decoration: none;
  color: white; /* Text color in light mode */
}

.downarrow:hover {
  top: 140px;
}

/* Style the top navigation bar */
.topnav {
  background-color: #fff; /* Light background color */
  position: sticky;
  top: 0;
  z-index: 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff; /* Light background color */
}

li {
  float: left;
}

li a,
.dropdown-content {
  display: block;
  color: #333; /* Text color in light mode */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-content li {
  clear: both;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 40px;
}

#mijnwerkbutton:hover .dropdown-content {
  display: block;
}

li a:hover,
.dropdown-content a:hover {
  background-color: #333; /* Darker color on hover in light mode */
  color: #fff; /* Text color in light mode */
}

/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  color: white;
  float: left;
  width: 25%;
  padding-left: 20px;
}

.row {
  flex: 1;
}

/* Create two unequal columns that float next to each other */
/* Left column */
.leftcolumn1 {
  flex: 3;
  width: 75%;
}

/* Right column */
.rightcolumn1 {
  flex: 1;
  padding-left: 20px;
}

.row1 {
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-container1 {
  display: flex;
  flex-wrap: wrap;
}

/* Fake image */
.fakeimg {
  background-color: #ddd;
  width: 100%;
}

.fakeimg1 {
  width: 300px;
  height: 200px;
}

.rightcolumn2 {
  flex: 1;
  width: 100%;
}

.leftcolumn2 {
  flex: 5;
  width: max-content;
}

/* Add a card effect for articles */
.card {
  background-color: #333333 ;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.rightcard {
  background-color: #333333 ;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.homehomecard {
  color: white;
  flex: 1;
  text-align: center;
  background-color: #333333 ;
  padding: 100px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.homecontainer {
  min-height: 65vh;
  display: flex;
}

.homecard {
  background-color: #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.nestedcard {
  background-color: #fff; /* Light background color */
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: solid #ccc;
}

.nestedinnestedcard {
  background-color: #ccc;
  color: #333; /* Text color in light mode */
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: solid transparent;
}

.tablereadcard {
  background-color: #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
}

.link {
  background-color: #fff; /* Light background color */
  width: 100%;
  text-decoration: none;
  color: #DAA520;
}

/* Style the topnav links */
.link a {
  display: block;
  color: #333; /* Text color in light mode */
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

/* Change color on hover */
.link a:hover {
  background-color: #ddd;
  color: #333; /* Text color in light mode */
  padding: 17px;
  border: solid #DAA520;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #fff; /* Light background color */
  display: block;
  color: #333; /* Text color in light mode */
  text-align: center;
  text-decoration: none;
  padding: 17px;
}

input[type=submit]:hover {
  background-color: #ddd;
  color: #333; /* Text color in light mode */
  padding: 16px;
  border: solid #DAA520;
}

.container {
  border-radius: 5px;
  background-color: #fff; /* Light background color */
  padding: 20px;
}

.emailbutton {
  background-color: #fff; /* Light background color */
  display: block;
  color: #333; /* Text color in light mode */
  text-align: center;
  text-decoration: none;
  padding: 17px;
}

.emailbutton:hover {
  background-color: #ddd;
  color: #333; /* Text color in light mode */
  padding: 16px;
  border: solid #DAA520;
}

.emailbutton:focus {
  background-color: #DAA520;
  display: block;
  color: #333; /* Text color in light mode */
  text-align: center;
  text-decoration: none;
  padding: 17px;
}

.githublinks {
  background-color: #E9DCC7;
  padding: 20px;
  margin-top: 20px;
  position: fixed;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #333; /* Text color in light mode */
  border: solid #e0e0e0;
  border-radius: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: solid #e0e0e0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #e0e0e0;
  color: #333; /* Text color in light mode */
}

table a {
  color: #333; /* Text color in light mode */
  text-decoration: none;
}

button {
  background-color: #e0e0e0; /* Light background color */
  border: none;
  color: #333; /* Text color in light mode */
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

#fabars {
  display: none;
}

.mobilenav #mobilelinks {
  display: none;
}

section {}

section:nth-of-type(2n) {}

section:last-of-type {
  height: 100vh;
}

.active {
  color: #DAA520; /* Highlight color in light mode */
  border-bottom: #DAA520 solid 2px;
}

.darklighttoggle {
  position: relative;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}

@media screen and (max-width: 620px) {
  .topnav {
    display: none;
  }

  .mobilenav {
    overflow: hidden;
    background-color: #fff; /* Light background color */
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .mobilenav #mobilelinks {
    display: flex;
    justify-content: center;
  }

  .mobilenav #mobilelinks a {
    margin: 2px;
  }

  .mobilenav #mobilelinks2 {
    background-color: #555;
    display: none;
  }

  .mobilenav #mobilelinks2 a {
    background-color: #646363;
    margin: 5px;
  }

  .mobilenav a {
    float: left;
    display: block;
    color: #333; /* Text color in light mode */
    padding: calc(15px + (100vw - 700px) * (15 - 30) / (700 - 1000));
    text-decoration: none;
  }

  #fabars {
    display: block;
  }

  #fabars2 {
    position: relative;
  }

  .leftcolumn {
    width: 100%;
  }

  .rightcolumn {
    display: none;
  }

  .leftcolumn1 {
    width: 100%;
  }

  .rightcolumn1 {
    display: none;
  }

  img {
    display: none;
  }

  .homehomecard {
    padding: 0;
  }
}
